*{
   font-family:georgia;
  
   margin:0px;
}

header{
   width:100%;
   height:90px;
   background-color:#7BC0F5;
   text-align:center;
   line-height:90px;
 }

 nav{
   width:100%;
   height:60px;
   background-color: #000000;
   color: #ffffff;
   font-size: 3.6vh;
   text-align:center;
   line-height:60px;
}

footer{
   Width: 100%;
   Height: 200px;
   background-color: #7BC0F5;
   color: white;
   text-align:center;
   clear:both;
   }

   #informatie{
      width:87%;
      height:200px;
      background-color: #4C5F6B;
     margin: 30px auto 30px auto;
     
   }
  

   #eerste2producten{
     display:flex;
     justify-content:center;
}

    #product1{
     margin-right:200px;
}

#product3{
   display:flex;
   justify-content:center;
   
}

   .producten{
      height:900px;
      width: 700px;
      float:left;
      margin-bottom:100px;
      
   }
   
   .tekstbovenplaatje{
      height:50px;
      width:700px;
      background-color:#d0d1d0;
      text-align:center;
      font-size:25pt;
   }
  
   .tekstonderplaatje{
      height: 150px;
      width:700px;
      background-color:#d0d1d0;
   }

   img{
      width:100%;
      height:80%;
   }
   
   .a-nav{
      text-decoration:none;
      color:#ffffff;
   }
   
   .a-nav:hover{
      background-color:#7BC0f5;
      font-size:110%;
   }
   

   a{
      color:#595959;
      text-decoration:none;


   }

   a:hover{
      text-decoration:underline;
      font-size:33pt;
   }


