*{
   font-family:georgia;
   margin:0px;
}



header{
   width:100%;
   min-height:90px;
   background-color:#7BC0F5;
   text-align:center;
   line-height:90px;
   font-size: 30pt;
 }

 nav{
   width:100%;
   min-height:60px;
  
   background-color: #000000;
   color: #ffffff;
   font-size: 25pt;  
   text-align:center; 
   line-height:60px;
}

h1{
   padding:3px;
}

h2{
   padding:3px;
}
p, li{
   padding:3px;
   font-size:15pt;
}

.a-nav{
   text-decoration:none;
   color:#ffffff;
}

.a-nav:hover{
   background-color:#7BC0f5;
   font-size:110%;
}


#informatie{
   width:87%;
   min-height:200px;
   background-color: #4C5F6B;
  margin: 30px auto 30px auto;
  padding:30px;
  

}

#eerste2groepen, #laatste2groepen{
   display:flex;
   flex-wrap:wrap;
   justify-content:space-evenly;
   overflow:hidden;
}

.groepen{
   width:700px;
   height:750px;
   
   padding:20px;
}
 .tekstbovenplaatje{
    height:50px;
    width:700px;
    background-color:#d0d1d0;
    text-align:center;
    font-size: 25pt;
 }

 
 

 img{
    width:706px;
    height:700px;
    
 }



 footer{
   Width: 100%;
   Height: 200px;
   background-color: #7BC0F5;
   color: white;
   text-align:center;
   clear:both;
   }





a{
   color:#595959;
   text-decoration:none;


}

a:hover{
   text-decoration:underline;
   font-size:33pt;
}

.img{
   transition-duration:0.25s;
}

.img:hover{
   transform:scale(107%);
   
}