*{
   font-family:georgia;
   margin:0;
}

header{
    width:100%;
    min-height:90px;
    background-color:#7BC0F5;
    text-align:center;
    line-height:90px;
    font-size: 30pt;
}
 
p{
   font-size:12pt;
   line-height:20px;
}

nav{
    width:100%;
    min-height:60px;
    background-color: #000000;
    color: #ffffff;
    font-size: 25pt;  
    text-align:center; 
    line-height:60px;
}

#naamproduct{
    width:87%;
    min-height:50px;
    background-color: #4C5F6B;
    margin: 30px auto 30px auto;
    padding:30px;
    text-align:center;
    font-size:30pt;
}

#plaatjeitem{
   width:740px;
   height:540px;
   margin:10px;  
}

#informatieproduct{
    Width:700px;
    height:500px;
    background-color: #d0d1d0;
    margin:10px;
    padding:20px;
}

#reviews{
    width:700px;
    height:800px;
    background-color:#d0d1d0; 
    padding:20px;
    margin:10px;
}

#klikvoormeer{
   margin-bottom:50px;
   padding:20px;
}


#extras{
    Width:670px;
    height:770px;
    background-color:#d0d1d0;
    margin:10px;
    padding:35px;
    display:flex;
    flex-wrap:nowrap;
    flex-direction:column;
    justify-content: flex-end;
    align-items:center;
}

img, #ondersteplaatje{
   width:300px;
   height:300px;
}

#ondersteplaatje{
   padding-top:50px;
}

#informatief{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
}

footer{
    Width: 100%;
    Height: 200px;
    background-color: #7BC0F5;
    color: white;
    text-align:center;
    clear:both;
}

.a-nav{
   text-decoration:none;
   color:#ffffff;
   transition-duration:0.2s;
}
   
.a-nav:hover{
   background-color:#7BC0f5;
   transform:scale(1.1);
   text-decoration:none;   
}
   
table{
   border:black;
   border-collapse:collapse;
   margin:auto;
   background-color:white;
}

h3{
   text-align:center;
   margin: 5px 0 5px 0;
}

.img{
   transition-duration:0.25s;
   border:2px black;
   border-radius:9px;
}

.img:hover{
   transform:scale(1.04);
}

a{
   text-decoration:none;
}

a:hover{
   text-decoration:underline;
   font-size:35pt;
}

ol {
   text-align: center;
   list-style-position: inside;
}

.mailen{
   font-size:25pt;
   color:lightgray; 
}

.mailen:hover{
   text-decoration:none;
   font-size:27pt;
}


/* flexbox is gebruikt in plaats van float */