*{
   font-family:georgia;
   
   margin:0px;
}

header{
   width:100%;
   min-height:90px;
   background-color:#7BC0F5;
   text-align:center;
   line-height:90px;
   font-size: 30pt;
 }

 nav{
   width:100%;
   min-height:60px;
   background-color: #000000;
   color: #ffffff;
   font-size: 35px;
   text-align:center;
   line-height:60px;
}

footer{
   Width: 100%;
   height: 200px;
   background-color: #7BC0F5;
   color: white;
   text-align:center;
   clear:both;
   }

   #informatie{
      width:87%;
      
      background-color: #4C5F6B;
     margin: 30px auto 30px auto;
     padding:30px;
     
   
   }
  
   h1{
      padding:3px;
    }
    
    
    p{
      padding:3px;
      font-size:15pt;
    }

#eerste2producten{
   display:flex;
   flex-wrap:wrap;
   justify-content:space-evenly;
   
}
#product3{
   display:flex;
   justify-content:center;
   
}
   .producten{
      height:900px;
      width: 700px;
      float:left;
      margin-bottom:100px;
      overflow:hidden;
   }
   
   .tekstbovenplaatje{
      height:50px;
      width:700px;
      background-color:#d0d1d0;
      text-align:center;
      font-size:25pt;
   }
  
   .tekstonderplaatje{
      min-height:50px;
      width:700px;
      background-color:#d0d1d0;
   }

   img{
      width:700px;
      height:700px;
   }
   
   .a-nav{
      text-decoration:none;
      color:#ffffff;
      transition-duration:0.2s;
   }
   
   .a-nav:hover{
      background-color:#7BC0f5;
     text-decoration:none;
      transform: scale(1.1);
   }
   

   a{
      color:#595959;
      text-decoration:none;


   }

   a:hover{
      text-decoration:underline;
      font-size:33pt;
   }

   .img{
      transition-duration:0.25s;
   }
   
   .img:hover{
      transform:scale(1.04);
   }

   /* flexbox is gebruikt in plaats van float */